<apex:page controller="sampleActionStatusCon">
    <apex:form >
        <apex:pageBlock id="pb">
            <apex:pageBlockButtons >
                <apex:actionStatus id="go">
                    <apex:facet name="stop">
                        <apex:outputPanel >

                        <apex:commandButton value="Save" action="{!redirectSave}" status="go" disabled="false" rerender="pb" />
                        <apex:commandButton value="Save and New" action="{!redirectSaveAndNew}" status="go" disabled="false" rerender="pb" />
                        </apex:outputPanel>
                    </apex:facet>
                    <apex:facet name="start">
                        <apex:outputPanel >
                            <apex:image value="/img/loading32.gif" style="height: 15px;"/>
                            <apex:commandButton status="go" value="Saving" disabled="true" />
                            <apex:commandButton status="go" value="Saving" disabled="true" />
                        </apex:outputPanel>
                    </apex:facet>
                </apex:actionStatus>
                <apex:commandButton value="Cancel" action="{!cancel}"/>
            </apex:pageBlockButtons>    

        </apex:pageBlock>
    </apex:form>
</apex:page>